



.input-area {
    margin: 6px 0;
}

.info-heading {
    margin-bottom: 20px;
}



.card-img-top {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.card-bottom {
    margin-top: 20px;
}

li {
    list-style-type: none;
}

.info-heading {
    margin-bottom: 20px;
}